.material_overview {
  list-style-type: none;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-box-flex;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -moz-box-align: stretch;
  align-items: stretch;
}
.material_overview > article {
  display: inline-block;
  margin: 7px;
  width: 250px;
  max-width: 250px;
  overflow: hidden;
}
.material_overview > article .image {
  display: block;
  margin: 4px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.material_overview > article .shortdescription {
  font-size: 0.9em;
  height: 70px;
  max-height: 70px;
  overflow: hidden;
  margin-bottom: 0px;
  padding: 0 5px;
  text-align: justify;
  position: relative;
  color: #000;
}
.material_overview > article .shortdescription:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), #ffffff);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=0);
}
