.material_overview {
    list-style-type: none;
    text-align: center;

    .flex();
    .flex-direction-row();
    .flex-wrap(wrap);
    .flex-justify-content(center);
    .flex-align-items(stretch);
    > article {
        display: inline-block;
        margin: 7px;

        width: 250px;
        max-width: 250px;

        overflow: hidden;

        .image {
            display: block;
            margin: 4px;
            height: 60px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: white;
        }

        .shortdescription {
            font-size: 0.9em;
            height: 70px;
            max-height: 70px;
            overflow: hidden;
            margin-bottom: 0px;
            padding: 0 5px;
            text-align: justify;
            position: relative;
            color: #000;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 20px;
                #gradient .vertical(fadeout(#fff, 100%), #fff);
            }
        }
    }
}